<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 493 Portfolio Project</title>
    <link rel='stylesheet' href='style.css'>
</head>
<h1>CS 493: Cloud Application Development</h1>
<h1>Oregon State University</h1>
<h2>Portfolio Project - Authorization Side</h2>
<h2>By Abraham Serrato Meza</h2>
<h2>Welcome User!</h2>
<div class='message'>
  Please click the link below to log into your Google account to generate a JSON Web Token and add yourself to the User database of the app.
  <br>
  You will need this token to use when calling on the boats API.
  <br>
  <br>
  <button onclick="location.href = '{{auth_uri}}'">Allow</button>
</div>